<% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h1>New Article</h1>
<%# needs to be in partials %>
<p>logged in as </p> <%=@post.user.name%> <br><br>
<%= form_with model: @post do |pst| %>
 
  <div>
    <%= pst.label :body %> <br>
    <%= pst.text_area :body,placeholder: "write somthin" %>
  </div>
    <%= pst.file_field :pic, accept: 'image/*'%>

  <div>
    <%= pst.submit %>
  </div>

<% end %>

<a href="<%= root_path %>">All posts</a> <br> <br>


<%=link_to 'logout', destroy_user_session_path,data: { turbo_method: :delete } %><br>
